body {
  background-image: -webkit-linear-gradient(150deg, #f2f2f2 59%, #ffd2d9 50%);
}
.db {
  display: block;
}

.dib {
  display: inline-block;
}

.d-flex-align {
  display: flex;
  align-items: center;
}

.f-15 {
  font-size: 1.5rem;
}

.mr1 {
  margin-right: 1rem;
}

.custom-anchor {
  color: #000;
  text-decoration: none;
  box-shadow: none;
}

a.custom-anchor:hover {
  text-decoration: none;
  color: #ffd2d9;
}
